<h1>Results for {{movieTitle}}</h1>
<hr>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Cover</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let search of searchResult">
            <th scope="row">{{search.id}}</th>
            <td><img [src]="search.imageUrl" [alt]="search.imageUrl" width="100"></td>
            <td>{{search.title}}</td>
            <td>{{search.description}}</td>
            <td>
                <a href="" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#staticBackdrop"><i
                        class="bi bi-film"></i>&nbsp;Trailer</a>
                &nbsp;
                <a [routerLink]="search.detailsLink" class="btn btn-primary"><i class="bi bi-eye"></i>&nbsp;Details</a>
            </td>
        </tr>
        
    </tbody>
</table>



<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <!-- <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1> -->
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <iframe width="100%" height="360" src="https://www.youtube.com/embed/lwxZiv4aihg?si=_dgARVvhMnze6I2K"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe>
            </div>
            <div class="modal-footer justify-content-center">
                <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
                <!-- <button type="button" class="btn btn-primary">Understood</button> -->
                <strong>{{movieTitle}}</strong>
            </div>
        </div>
    </div>
</div>